.calendar {
    font-family       : 'Open Sans', sans-serif;
    position          : absolute;
    width             : 30%;
    color             : #eee;
    padding           : 1em;
    background        : linear-gradient(180deg, #88b5ff, #468dff);
    z-index           : 99993;
    text-align        : center;
    box-sizing        : content-box;
    -webkit-box-sizing: content-box;
}

.calendar * {
    box-sizing        : content-box;
    -webkit-box-sizing: content-box;
}

.time-selector {
    font-family: 'Open Sans', sans-serif;
    position   : absolute;
    width      : 20%;
    text-align : center;
    background : linear-gradient(180deg, transparent, #6da5ff);
    color      : white;
    padding    : 5px 20px;
    box-sizing : border-box;
}

.time-selector * {
    box-sizing        : content-box;
    -webkit-box-sizing: content-box;
}

.time-selector input {
    width           : 25%;
    background-color: transparent;
    border-top      : 1px solid white;
    border-bottom   : 1px solid white;
    border-left     : none;
    border-right    : none;
    padding         : .25em .5em;
    margin          : 10px 0;
    box-sizing      : border-box;
    outline         : none;
    color           : white;
    height          : 32px;
    vertical-align  : middle;
    text-align      : center;
}

.time-selector label {
    margin-right: 10px;
}

.time-selector .apply-time-button,
.calendar .apply-date-time-button {
    background-color: #5191fa;
    border          : 1px solid white;
    padding         : .5em;
    color           : white;
    margin-top      : 15px;
}

.time-selector .apply-time-button:hover,
.calendar .apply-date-time-button:hover {
    background-color: #85b4ff;
}

.hours-container {
    width     : 50%;
    display   : inline-block;
    text-align: center;
}

.minutes-container {
    width     : 50%;
    display   : inline-block;
    text-align: center;
}

.calendar .year {
    padding   : .1em;
    cursor    : pointer;
    display   : inline-block;
    box-sizing: border-box;
    text-align: center;
}

.calendar .year:hover {
    background-color: #85b4ff;
}

.calendar .month-container {
    float     : left;
    padding   : .5em;
    box-sizing: border-box;
    background: linear-gradient(180deg, #85b4ff 10%, transparent);
}


.calendar .month-container h4 {
    text-align    : center;
    text-transform: uppercase;
    margin        : 20px 0;
    font-size     : 18px;
}

.calendar .day-container {
    float   : left;
    overflow: hidden;
    width   : 14.2857%;
}

.calendar .day {
    width     : 100%;
    height    : 100%;
    position  : relative;
    cursor    : pointer;
    font-size : 12px;
    display   : block;
    text-align: center;
    box-sizing: border-box;
    z-index   : 2;
}

.calendar .day-container.weekend {
    background-color: tomato;
}

.calendar .day-container.unactive {
    background-color: grey;
    cursor          : default;
}

.calendar .day-container.in-selected-period {
    background-color: orange;
}

.calendar .day-container.selected {
    background-color: orange;
}

.calendar .calendar-time-input {
    float: left;
    width: 80px;
}

.months {
    position: relative;
    overflow: hidden;
    display : flex;
}

.year-indicator {
    font-size : 26px;
    cursor    : pointer;
    text-align: center;
    padding   : 10px 0;
    margin    : 0;
}

.leaf-over-future {
    position   : absolute;
    top        : 0;
    right      : .5em;
    width      : 22px;
    height     : 22px;
    padding    : 5px;
    font-size  : 22px;
    cursor     : pointer;
    text-align : center;
    line-height: 100%;
    border     : 1px solid white;
    margin-top : 20px;
}

.leaf-over-past {
    position   : absolute;
    top        : 0;
    left       : .5em;
    width      : 22px;
    height     : 22px;
    padding    : 5px;
    font-size  : 22px;
    cursor     : pointer;
    text-align : center;
    line-height: 100%;
    border     : 1px solid white;
    margin-top : 20px;
}

.leaf-over-past:hover,
.leaf-over-future:hover {
    color           : #5191fa;
    background-color: white;
}

.month-day-headings {
    color        : yellow;
    margin-bottom: .5em;
}

.month-day-heading {
    width     : 14.2857%;
    float     : left;
    font-size : 12px;
    box-sizing: border-box;
    padding   : .1em;
    text-align: center;
}

.month-day-heading:nth-child(6),
.month-day-heading:nth-child(7) {
    color        : #ff5c3b;
    margin-bottom: .5em;
}

.day-under-cursor-frame {
    position  : absolute;
    left      : 0;
    top       : 0;
    display   : none;
    z-index   : 1;
    border    : 2px solid yellow;
    box-shadow: 0 0 5px yellow;
    box-sizing: border-box;
}

.close-button {
    width           : 24px;
    height          : 24px;
    line-height     : 24px;
    text-align      : center;
    border          : 1px solid tomato;
    position        : absolute;
    top             : 0;
    right           : 0;
    background-color: tomato;
    color           : white;
    cursor          : pointer;
}

.close-button:hover {
    background-color: white;
    color           : tomato;
}

.up-button,
.down-button {
    display            : inline-block;
    width              : 32px;
    height             : 32px;
    font-size          : 22px;
    color              : white;
    border             : 1px solid white;
    vertical-align     : middle;
    text-align         : center;
    background-color   : transparent;
    box-sizing         : border-box;
    cursor             : pointer;
    user-select        : none;
    -o-user-select     : none;
    -moz-user-select   : none;
    -webkit-user-select: none;

}

.up-button {
    line-height: 28px;
}

.down-button {
    line-height: 26px;
}

.up-button:hover,
.down-button:hover {
    color           : #5191fa;
    background-color: white;
}