#container {
    background-color: #669;
    width           : 300px;
    margin          : auto;
    text-align      : center;
    padding         : 10px;
}

#container input {
    width           : 80%;
    background-color: transparent;
    border          : 1px solid white;
    padding         : .25em .5em;
    margin          : 10px 0;
}

#container input::placeholder {
    color: white;
}

#calendar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position   : absolute;
    width      : 30%;
}

#time-selector {
    font-family     : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position        : absolute;
    width           : 20%;
    text-align      : center;
    background-color: teal;
    color           : white;
    padding         : 20px;
}

#time-selector input {
    width           : 100%;
    background-color: transparent;
    border          : 1px solid white;
    padding         : .25em .5em;
    margin          : 10px 0;
    box-sizing      : border-box;
}

#time-selector #apply-time-button {
    background-color: #668;
    border          : 1px solid white;
    color           : white;
    padding         : .5em;
}

#hours-container {
    width  : 50%;
    display: inline-block;
}

#minutes-container {
    width  : 50%;
    display: inline-block;
}

#calendar input[type="text"] {
    background-color: #333;
    color           : #eee;
    border          : 1px solid black;
    outline         : none;
    padding         : .25em;
    display         : block;
    margin          : 10px auto;
}

#calendar .year {
    background: linear-gradient(45deg, #363, #696);
    color     : white;
    transition: all .4s;
    padding   : .1em;
    cursor    : pointer;
    display   : inline-block;
    box-sizing: border-box;
}

#calendar .year:hover {
    background: linear-gradient(45deg, #696, #7a7);
}

#calendar .month-container {
    float     : left;
    background: #336;
    padding   : .5em;
    box-sizing: border-box;
}

#calendar .month-container h4 {
    text-align  : center;
    color       : white;
    font-variant: small-caps;
}



#calendar .day {
    width           : 14.2857%;
    cursor          : pointer;
    background-color: #336;
    color           : white;
    transition      : background-color .4s;
    padding         : .1em;
    display         : inline-block;
    box-sizing      : border-box;
    font-size       : 12px;
}

#calendar .day.weekend {
    background: #633;
}

#calendar .day.unactive {
    background-color: #444;
    cursor          : default;
}

#calendar .day:hover {
    background: #669;
}

#calendar .day.weekend:hover {
    background: #966;
}

#calendar .day.unactive:hover {
    background-color: #333;
}

#calendar .day.in_selected_period {
    background: #ddd;
    color     : #333;
}

#calendar .calendar-time-input {
    float: left;
    width: 80px;
}

#months {
    position: relative;
}

#year-indicator {
    font-size       : 26px;
    color           : white;
    cursor          : pointer;
    text-align      : center;
    padding         : 15px 0;
    background-color: rgb(118, 35, 156);
    margin          : 0;
}

#leaf-over-future {
    position     : absolute;
    top          : 50%;
    right        : 0;
    width        : 22px;
    height       : 22px;
    padding      : 5px;
    color        : white;
    font-size    : 22px;
    cursor       : pointer;
    text-align   : center;
    line-height  : 100%;
    border       : 1px solid white;
    border-radius: 100%;
    margin-top   : 10px;
}

#leaf-over-past {
    position     : absolute;
    top          : 50%;
    left         : 0;
    width        : 22px;
    height       : 22px;
    padding      : 5px;
    color        : white;
    font-size    : 22px;
    cursor       : pointer;
    text-align   : center;
    line-height  : 100%;
    border       : 1px solid white;
    border-radius: 100%;
    margin-top   : 10px;
}

.month-day-headings {
    color        : yellow;
    margin-bottom: .5em;
}



.month-day-heading {
    width     : 14.2857%;
    display   : inline-block;
    font-size : 12px;
    box-sizing: border-box;
    padding   : .1em;
}

.month-day-heading:nth-child(6),
.month-day-heading:nth-child(7) {
    color        : palevioletred;
    margin-bottom: .5em;
}