#container {
    background-color: #669;
    width           : 300px;
    margin          : auto;
    text-align      : center;
    padding         : 10px;
}

#container input {
    width           : 80%;
    background-color: transparent;
    border          : 1px solid white;
    padding         : .25em .5em;
    margin          : 10px 0;
}

#container input::placeholder {
    color: white;
}

#calendar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position   : absolute;
    width      : 30%;
    color      : #eee;
    padding    : 1em;
    background : linear-gradient(180deg, #88b5ff, #468dff);
    z-index    : 0;
}

#time-selector {
    font-family     : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position        : absolute;
    width           : 20%;
    text-align      : center;
    background-color: #5191fa;
    color           : white;
    padding         : 20px;
}

#time-selector input {
    width           : 100%;
    background-color: transparent;
    border          : 1px solid white;
    padding         : .25em .5em;
    margin          : 10px 0;
    box-sizing      : border-box;
}

#time-selector #apply-time-button {
    background-color: #5191fa;
    border          : 1px solid white;
    padding         : .5em;
}

#hours-container {
    width  : 50%;
    display: inline-block;
}

#minutes-container {
    width  : 50%;
    display: inline-block;
}

#calendar .year {
    padding   : .1em;
    cursor    : pointer;
    display   : inline-block;
    box-sizing: border-box;
    text-align: center;
}

#calendar .year:hover {
    background-color: #85b4ff;
}

#calendar .month-container {
    float     : left;
    padding   : .5em;
    box-sizing: border-box;
    background: linear-gradient(180deg, #85b4ff 10%, transparent);
}


#calendar .month-container h4 {
    text-align    : center;
    text-transform: uppercase;
    margin        : 20px 0;
    font-size     : 18px;
}

#calendar .day-container {
    float   : left;
    overflow: hidden;
    width   : 14.2857%;
}

#calendar .day {
    width     : 100%;
    height    : 100%;
    position  : relative;
    cursor    : pointer;
    font-size : 12px;
    display   : block;
    text-align: center;
    box-sizing: border-box;
    z-index   : 2;
}

#calendar .day-container.weekend {
    background-color: tomato;
}

#calendar .day-container.unactive {
    background-color: grey;
    cursor          : default;
}

#calendar .day-container.in_selected_period {
    background-color: orange;
}

#calendar .calendar-time-input {
    float: left;
    width: 80px;
}

#months {
    position: relative;
    overflow: hidden;
    display : flex;
}

#year-indicator {
    font-size : 26px;
    cursor    : pointer;
    text-align: center;
    padding   : 15px 0;
    margin    : 0;
}

#leaf-over-future {
    position   : absolute;
    top        : 0;
    right      : .5em;
    width      : 22px;
    height     : 22px;
    padding    : 5px;
    font-size  : 22px;
    cursor     : pointer;
    text-align : center;
    line-height: 100%;
    border     : 1px solid white;
    margin-top : 20px;
}

#leaf-over-past {
    position   : absolute;
    top        : 0;
    left       : .5em;
    width      : 22px;
    height     : 22px;
    padding    : 5px;
    font-size  : 22px;
    cursor     : pointer;
    text-align : center;
    line-height: 100%;
    border     : 1px solid white;
    margin-top : 20px;
}

#leaf-over-past:hover,
#leaf-over-future:hover {
    color           : #5191fa;
    background-color: white;
}

.month-day-headings {
    color        : yellow;
    margin-bottom: .5em;
}

.month-day-heading {
    width     : 14.2857%;
    float     : left;
    font-size : 12px;
    box-sizing: border-box;
    padding   : .1em;
    text-align: center;
}

.month-day-heading:nth-child(6),
.month-day-heading:nth-child(7) {
    color        : #ff5c3b;
    margin-bottom: .5em;
}

.day-under-cursor-frame {
    position  : absolute;
    left      : 0;
    top       : 0;
    display   : none;
    background: radial-gradient(circle closest-side at 50% 50%, rgba(255, 255, 255, 0.5), transparent);
    z-index   : 1;
    transition: .5s all;
}